/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

body {
  font-family: Lato;
  font-weight: 300;
}

footer{
  background: #DDD;
  padding: 5px 10px;
  font-size: 0.8em;
  text-align: center;
  border-radius: 3px;
}

.body-content {
  padding: 5em 15px 1em;
}

textarea {
  display: block;
  margin-top: 5px;
  width: 350px;
  height: 60px;
  max-width: 100%;
}

.addSomeSpace {
  padding-top: 2em;
  padding-bottom: 2em;
}

md-icon{
  font-family: 'Material Icons' !important;
}
