<form (ngSubmit)="sendSignedTransaction()">
  <h1 mat-dialog-title>Confirm transaction</h1>
  <mat-dialog-content>
    <div class="text-center">
      <p><b>From:</b> {{data.from | slice:0:5}}...{{data.from | slice:-5}} <b>To:</b> {{data.to | slice:0:5}}...{{data.to | slice:-5}}</p>
      <p><mat-icon>person</mat-icon>     <mat-icon>arrow_forward</mat-icon>     <mat-icon>person</mat-icon></p>
      <p><b>Amount:</b>   {{ data.value }} &mu;</p>
      <p><b>Fee:</b>   {{ data.fee }} &mu;</p>
      <hr width="75%" size="2">
      <p><b>Total:</b> {{ data.fee + data.value }} &mu;</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <!--<button mat-raised-button color="accent"><mat-icon color="basic">refresh</mat-icon>Reset</button>-->
    <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="true"><mat-icon color="basic">navigate_next</mat-icon>Submit</button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon color="basic">close</mat-icon>Cancel</button>
  </mat-dialog-actions>
</form>
