<mat-accordion class="full-width">
  <mat-expansion-panel [expanded]="(!wallet.privateKey || !wallet.publicKey || !wallet.address)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Create or load wallet</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>To generate a new wallet just press <b>Generate New</b> button and you will receive random private key,
      public key and address.</p>
    <p>To load your wallet enter your wallet private key (compressed ECDSA key, 65 hex digits) and press <b>Load Wallet</b>
      button.</p>

    <form class="wallet-form full-width">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Private key:" name="privateKey" id="privateKey"
               [(ngModel)]="wallet.privateKey" #privateKey="ngModel" required [pattern]="privateKeyPattern">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Public key:" name="publicKey" id="publicKey"
               [(ngModel)]="wallet.publicKey">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Address:" name="address" id="address"
               [(ngModel)]="wallet.address">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="generateNewWallet()">Generate New</button>
      <button mat-raised-button color="accent" (click)="loadWallet()"
              [disabled]="privateKey.errors?.pattern || privateKey.errors?.required">Load Wallet
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<div class="addSomeSpace"></div>

<div class="row" *ngIf="wallet.address">
  <div class="container col-md-6">
    <mat-form-field class="full-width">
      <mat-select placeholder="Select node" [disabled]="customSelection.value" [(value)]="node">
        <mat-option value="http://localhost:5000">localhost:5000</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <mat-checkbox [formControl]='customSelection'>Custom</mat-checkbox>
    </p>

    <div *ngIf="customSelection.value">
      <mat-form-field class="full-width" >
        <input matInput placeholder="Custom node" type="text" name="customNode" id="customNode" [(ngModel)]="node">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="getNodeInfo()">Get Info</button>

      <div *ngIf="info$ | async as node">
        {{node | json}}
      </div>

      <div class="addSomeSpace"></div>
    </div>

    <div class="card text-center">
      <ngx-qrcode
        qrc-element-type="url"
        [qrc-value]="wallet.address"
        qrc-version="6">
      </ngx-qrcode>
      <div class="card-block">
        <h3 class="card-title">Your balance: <b>{{0| currency:'SUC':'.2-5'}}</b></h3>
        <p class="card-text">{{ wallet.address }}</p>
      </div>

      <div *ngIf="user$ | async as user">
        <p>{{ user | json }}</p>
      </div>
    </div>
  </div>

  <div class="container col-md-6">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Sender" name="sender" id="sender" [(ngModel)]="transaction.from"
             disabled>
    </mat-form-field>

    <form #f="ngForm" (ngSubmit)="signTransaction(f)" class="send-form">
      <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Recipient" name="recipient" id="recipient" #recipient="ngModel"
                    [(ngModel)]="transaction.to" [pattern]="addressPattern" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Amount" type="number" name="value" id="value" [(ngModel)]="transaction.value" required>
        <span matPrefix><mat-icon>monetization_on</mat-icon></span>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Fee" type="number" name="fee" id="fee" [(ngModel)]="transaction.fee">
        <span matPrefix>&mu;&nbsp;&nbsp;</span>
      </mat-form-field>

      <button mat-raised-button color="primary"
              [disabled]="(!transaction.to || recipient.errors?.pattern) || transaction.value <= 0">
        <mat-icon color="basic">fingerprint</mat-icon>
        Sign Transaction
      </button>
    </form>
  </div>
</div>

<!--<div *ngIf="transactions$ | async as transactions">-->
  <!--{{transactions | json}}-->
<!--</div>-->








