<div class="row">
  <div class="container col-5 float-left">
    <h1>Create or load wallet</h1>
    <p>To generate a new wallet just press <b>Generate New</b> button and you will receive random private key, public key and address.</p>
    <p>To load your wallet enter your wallet private key (compressed ECDSA key, 65 hex digits) and press <b>Load</b> button.</p>
    <form class="wallet-form">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Private key:" name="privateKey" id="privateKey" [(ngModel)]="wallet.privateKey"
                  #privateKey="ngModel" required pattern="^[A-Za-z0-9]{64}$">
        </textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Public key:" name="publicKey" id="publicKey"
                  [(ngModel)]="wallet.publicKey"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Address:" name="address" id="address" [(ngModel)]="wallet.address"></textarea>
      </mat-form-field>

      <button class="btn btn-success" (click)="generateNewWallet()">Generate New</button>
      <button class="btn btn-primary" (click)="loadWallet()"
              [disabled]="!privateKey.hasError('pattern') && !privateKey.hasError('required')">Load
      </button>
    </form>

    <div class="addSomeSpace"></div>

  </div>

  <div class="col-5" >

    <mat-form-field class="full-width" >
      <mat-select placeholder="Select node" [disabled]="customSelection.value" [(value)]="node">
        <mat-option value="http://127.0.0.1:5000">localhost:5000</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <mat-checkbox [formControl]='customSelection'>Custom</mat-checkbox>
    </p>

    <div *ngIf="customSelection.value">
      <mat-form-field class="full-width"  >
        <input matInput placeholder="Custom node:" type="text" name="customNode" id="customNode" [(ngModel)]="node" [disabled]="!customSelection.value">
      </mat-form-field>
    </div>

    <div *ngIf="wallet.address">
      <div class="card text-center">
        <ngx-qrcode
          qrc-element-type="url"
          [qrc-value]="wallet.address"
          qrc-version="5">
        </ngx-qrcode>
        <div class="card-block">
          <h3 class="card-title">Your balance: <b>0 SUC</b></h3>
          <p class="card-text">{{ wallet.address }}</p>
        </div>
      </div>

      <div class="addSomeSpace"></div>

      <form class="send-form">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Sender:" name="sender" id="sender" [(ngModel)]="wallet.address" disabled></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Recipient:" name="recipient" id="recipient" [(ngModel)]="recipient" required></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Amount:" type="number" name="amount" id="amount"
                 [(ngModel)]="amount" required>
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <button class="btn btn-success" (click)="signTransaction()" [disabled]="!recipient">Sign</button>
      </form>
    </div>
    </div>

</div>
